@font-face {
	font-family: roboto light;
  	src: url(fnt/roboto-light.woff) format('woff');
}

@font-face {
	font-family: dinround black;
  	src: url(fnt/ffdinroundpro-black.otf) format('opentype');
}

* {
	box-sizing: border-box;
}

body {
	font-family: roboto light;
	margin: 0;
	background-color: #fb9c02;
	background-image: url(img/body.jpg);
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: -57px;
	background-size: 100% auto;
}

.wrapper {
	width: 1170px;
	margin-right: auto;
	margin-left: auto;
}

header {
	background-color: #f47b00;
	border-bottom: 1px solid #db6e00;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
	text-decoration: none;
}

nav a {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	line-height: 56px;
	padding-right: 12px;
	transition: .2s ease-in-out;
}

nav a.active {
	background-color: #fa8d00;
	box-shadow: inset 0px -3px 15px 0px rgba(0,0,0,.1);
}

nav ul li:first-child a {
	font-family: dinround black;
	font-size: 18px;
	text-transform: uppercase;
	padding-right: 24px;
}

nav ul li:nth-child(n+2) a::before,
.lost .item .user::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-left: 9px;
	margin-right: 12px;
	transform: translateY(2px);
}

nav ul li:nth-child(2) a::before {
	background-image: url(img/ad.svg);
}

nav ul li:nth-child(3) a::before {
	background-image: url(img/sad.svg);
}

nav ul li:nth-child(4) a::before {
	background-image: url(img/cheerful.svg);
}

nav ul li:nth-child(5) a::before {
	background-image: url(img/thumb.svg);
}

nav ul li:nth-child(6) a::before {
	background-image: url(img/user.svg);
	margin-left: 9px;
	margin-right: 9px;
}

nav ul li:last-child a {
	line-height: 38px;
	background-color: #c25600;
	margin-top: 8.5px;
	margin-bottom: 8.5px;
	margin-left: 17px;
	border-radius: 3px;
}

nav a.notice::after {
	content: attr(data-quantity);
	margin-left: 9px;
	padding-top: 7px;
	padding-right: 9px;
	padding-bottom: 7px;
	padding-left: 9px;
	border-radius: 3px;
	background-color: #c25600;
}

nav ul li + li {
	border-left: 1px solid #db6e00;
}

nav ul li:last-child {
	float: right;
}

main {
	display: block;
}

main.lost {
	background-color: #fff;
	margin-top: 28px;
	margin-bottom: 30px;
	padding-top: 16px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
	border-radius: 5px;
	box-shadow: 0px 13px 38px 0px rgba(0,0,0,.15);
}

h1 {
	font-size: 30px;
	line-height: 60px;
	color: #4a4a4a;
	margin: 0;
}

.lost h1 {
	float: left;
}

.nav {
	float: right;
}

.nav * {
	display: inline-block;
	font-size: 12px;
	line-height: 46px;
	padding-left: 40px;
	padding-right: 40px;
	text-transform: uppercase;
	border: 1px solid #dedede;
	color: #000;
	transition: .2s ease-in-out;
}

.nav * + * {
	margin-left: 10px;
}

.nav *:hover {
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,.25);
}

.nav .active {
	border: 0;
	border-radius: 2px;
	background-color: #00bcd4;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,.25);
	color: #fff;
}

.lost .item {
	padding-top: 15px;
	padding-right: 14px;
	padding-bottom: 15px;
	padding-left: 14px;
	border: 1px solid #dedede;
}

.lost .item + .item {
	margin-top: -1px;
}

.lost .item img {
	width: 210px;
	float: left;
	margin-right: 50px;
}

.lost .item > div {
	width: 800px;
	min-height: 210px;
	float: right;
	position: relative;
}

.lost .item div a {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 21px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 10px;
}

.lost .label {
	display: inline-block;
	font-size: 12px;
	line-height: 23px;
	color: #fff;
	text-transform: uppercase;
	background-color: #f54337;
	border-radius: 10px;
	padding-right: 16px;
	padding-left: 16px;
}

.lost .item p {
	font-size: 16px;
	line-height: 22px;
	color: #8d8d94;
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.lost .item .info {
	position: absolute;
	bottom: 0;
	left: 0;
}

.lost .item .info span {
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	color: #8d8d94;
}

.lost .item .info span + span {
	margin-left: 10px;
}

.lost .item .user::before {
	background-image: url(img/user-ad.svg);
}

.pagination {
	margin-top: 20px;
}

.pagination li {
	float: left;
}

.pagination li + li {
	margin-left: -1px;
}

.pagination a {
	display: inline-block;
	width: 40px;
	font-size: 14px;
	line-height: 38px;
	color: #000;
	border: 1px solid #dedede;
	text-align: center;
}

.pagination a.active {
	color: #fff;
	background-color: #00bbd3;
	border: 1px solid #00bbd3;
}

.ad h1 {
	color: #909090;
}

.ad .issue {
	width: 240px;
	float: left;
	margin-top: 31px;
	margin-right: 30px;
}

.ad .issue .photo {
	width: 240px;
	height: 240px;
	border-radius: 3px;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #fff;
	position: relative;
}

.ad .issue label[for=file] {
	display: block;
	width: 163px;
	height: 48px;
	margin: 0 auto;
	outline: none;
	transform: translateY(-30px);
	background-color: #00bbd3;
	border-radius: 24px;
	padding-left: 31px;
	padding-right: 31px;
	cursor: pointer;
	font-size: 14px;
	line-height: 48px;
	color: #fff;
	white-space: nowrap;
	transition: .2s ease-in-out;
}

.ad .issue label[for=file]:hover {
	background-color: #28909E;
}

.ad .issue input[type=file]::-webkit-file-upload-button {
 	visibility: hidden;
}

.ad .issue input[type=file]::before {
	content: 'Загрузить фото';
	display: inline-block;
	background-color: #00bbd3;
	border-radius: 24px;
	padding-left: 31px;
	padding-right: 31px;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 48px;
	color: #fff;
}

.ad textarea {
	padding: 16px;
	border: 1px solid #c8c8d0;
	resize: none;
	outline: none;
	font-family: roboto light;
	font-size: 	14px;
	line-height: 21px;
}

.ad .issue textarea {
	width: 100%;
	height: 140px;
	transform: translateY(2px);
}

.ad .details {
	width: 900px;
	float: right;
	padding-top: 30px;
	padding-right: 25px;
	padding-bottom: 50px;
	padding-left: 55px;
	background-color: #f1f3f7;
}

.ad .details form {
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	padding-right: 45px;
	padding-bottom: 40px;
	padding-left: 45px;
	background-color: #fff;
}

.ad .details .half {
	max-width: 330px;
	float: left;
	padding-bottom: 40px;
}

.ad .details .half + .half {
	float: right;
}

.ad .details span,
.ad .details label {
	font-size: 16px;
	line-height: 60px;
	font-weight: bold;
}

.ad .details label.button {
	display: block;
	width: 261px;
	border-radius: 2px;
	background-color: #feac00;
	text-align: center;
	font-size: 12px;
	line-height: 48px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transform: translateY(-5px);
	transition: background-color .2s ease-in-out;
}

.ad .details .button ~ .button {
	margin-top: 12px;
}

.ad .details input:checked + .button {
	line-height: 46px;
	border: 1px solid #dd7811;
	background-color: #fb8e00;
}

.ad .details hr {
	clear: both;
	width: 820px;
    transform: translateX(-45px);
    border: 0;
    margin: 0;
    height: 1px;
    background-color: #dedede;
}

.ad .details textarea {
	width: 100%;
	height: 200px;
	margin-bottom: 40px;
}

.ad .details input:not([type=submit]),
.ad .details select {
	width: 330px;
	height: 48px;
	border: 1px solid #c8c8d0;
	outline: none;
	font-size: 14px;
	line-height: 21px;
	padding-top: 14px;
	padding-right: 19px;
	padding-bottom: 15px;
	padding-left: 19px;
	color: #8d8d94;
	transform: translateY(-5px);
}

.ad label[for=gender]::after {
	content: '\25BC';
	color: #9e9e9d;
	font-size: 10px;
	line-height: 46px;
	display: inline-block;
	width: 46px;
	height: 45px;
	text-align: center;
	background-color: #fff;
	transform: translate(250px, 47px);
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.ad .details .half div {
	display: inline-block;
}

.ad .details .half div + div {
	margin-left: 40px;
}

.ad .details .half div span {
	display: block;
}

.ad .details .half div label {
	display: block;
	width: 59px;
	float: left;
	text-align: center;
	border: 1px solid #c8c8d0;
	line-height: 46px;
	cursor: pointer;
	transition: .2s ease-in-out;
}

.ad .details .half div label ~ label {
	margin-left: -1px;
}

.ad .details .half div input:checked + label {
	background-color: #00bbd3;
	color: #fff;
}

.ad .details label[for=account] {
	display: block;
	margin-top: 33px;
	font-size: 14px;
	line-height: 21px;
	color: #8d8d94;
	position: relative;
	cursor: pointer;
}

.ad .details label[for=account]::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-color: #00bbd3;
	transform: translateY(4px);
}

.ad .details input[type=checkbox] + label::after {
	content: '✓';
	color: #fff;
	position: absolute;
    left: 5px;
    top: 3px;
    transform: scale(0);
    transition: transform .2s ease-in-out;
}

.ad .details input[type=checkbox]:checked + label::after {
	transform: scale(1);
}

.ad .details input[type=submit] {
	width: 261px;
	margin-top: 30px;
	border-radius: 2px;
	color: #fff;
	text-transform: uppercase;
	background-color: #00bbd3;
	border: none;
	font-size: 12px;
	line-height: 48px;
	cursor: pointer;
	transition: .2s ease-in-out;
}

.ad .details input[type=submit]:hover {
	background-color: #28909E;
}